$bag-red: rgb(184, 31, 64);
$bag-brown: rgb(210, 180, 124);
$bag-orange: rgb(231, 121, 93);
$bag-green: rgb(73, 182, 156);
$bag-blue:rgb(72, 159, 192);
$bag-purple:rgb(108, 85, 140);
$bag-darkgray: rgb(87, 87, 86);
$bag-gray: rgb(178, 178, 178);
$bag-lightgray: rgb(240, 240, 240);
$bag-slategray: rgb(164, 188, 201);