<p>
    template-form example!
</p>
<form #userForm="ngForm" (submit)="onSubmit($event, userForm)">
    <label>User Name
    <input type="text" name="inputName" [(ngModel)]="user.name">
  </label>
    <label>Gender
    <select name="inputGender" [(ngModel)]="user.gender">
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  </label>
    <label *ngIf="user.gender == 'male'">
    Favorite Beer
    <input type="text" name="inputDrink" [(ngModel)]="user.favoriteDrink" minlength="4" required>
  </label>
    <label *ngIf="user.gender == 'female'">
    Favorite Dress
    <input type="text" name="inputDress" [(ngModel)]="user.favoriteDress" minlength="3" required>
  </label>
    <button type="submit" [disabled]="userForm.invalid">Absenden</button>
</form>

<hr>

<p>User Model</p>
<pre>{{user | json }}</pre>

<hr>

<p>Form Changes</p>
<pre>{{userForm.valueChanges | async | json}}</pre>
<pre>{{userForm.statusChanges | async | json}}</pre>