<p>
    reactive-form example!
</p>
<label>Text Input
  <input type="text" [formControl]="textControl">
</label>
<p>{{textControl.valueChanges | async | json}}</p>
<hr>
<form [formGroup]="userForm" (submit)="onSubmit($event, userForm)">
    <label>User Name
    <input type="text" name="inputName" formControlName="name">
  </label>
    <label>Gender
    <select formControlName="gender">
      <option value="male">male</option>
      <option value="female">female</option>
    </select>
  </label>

    <label *ngIf="user.gender == 'male'">
    Favorite Beer
    <input type="text" name="inputDrink" formControlName="favoriteDrink">
  </label>
    <label *ngIf="user.gender == 'female'">
    Favorite Dress
    <input type="text" name="inputDress" formControlName="favoriteDress">
  </label>
    <button type="submit" [disabled]="!userForm.valid">Absenden</button>
</form>

<hr>

<p>User Model</p>
<pre>{{user | json }}</pre>